# Supabase Postgres Connection String (Pooled/Session Mode)
# Replace placeholders with your own data.
# FORMAT: postgresql+asyncpg://[user].[project-ref]:[password]@[host]:[port]/[db]
DATABASE_URL=postgresql+asyncpg://postgres.your_project_id:your_password@aws-0-region.pooler.supabase.com:6543/postgres

# JWT Secret Key (Any random string)
SECRET_KEY=yoursecretkeyhere
